.bundle/
Gemfile.lock

# Jekyll files (https://jekyllrb.com/docs/structure/)
_site
.sass-cache
attic/
serve/

# Hugo files
hugo/public
hugo/resources
.hugo_build.lock

# Editor files (Vim, Emacs and others)
*.swp
*~

# dummy entry
2019/talks/.md
2019/programm2.md
