    {
        "name": "",
        "titel": "",
        "buzzword": "",
        "inhalt": "",
        "aboutme": "",
        "vorwissen": "",
        "weblinks": {},
        "urlid": "",
        "duration": 42,
        "room": "",
        "timebegin": "42:00",
        "timeend": "42:30"
    }
