<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }} 2024 - Samstag, 22. Juni 2024</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Chat (<a href="https://matrix.org/clients/">Matrix</a>): <a href="https://app.element.io/#/room/#tuebix:matrix.org">#tuebix:matrix.org</a></li>
          <li><a href="https://troet.cafe/@tuebix">Fediverse (Mastodon)</a></li>
          <li><a href="https://github.com/tuebix/tuebixorg">Repository (website source code)</a></li>
          <li><a href="/impressum/">Impressum/Kontakt</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="rtext">Der Tübix wird unterstützt von</p>
        <table>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.imos.net" target="_blank"><img src="/images/imos_Logo_klein.png" alt="imos" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.sodgeit.de" target="_blank"><img src="/images/sodgeit.png" alt="sodgeit" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.tuxedocomputers.com" target="_blank"><img src="/images/tuxedo_computers.png" alt="tuxedo" width="90px"> </a></div></td>
          </tr>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.hetzner.com/" target="_blank"><img src="/images/hetzner-logo.svg" alt="hetzner" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.rheinwerk-verlag.de/" target="_blank"><img src="/images/Logo_Rheinwerk-Computing_809x295px.png" alt="rheinwerk" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://dpunkt.de/" target="_blank"><img src="/images/dpunkg_logo.svg" alt="dpunkt" width="90px"> </a></div></td>
          </tr>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://eviden.com/" target="_blank"><img src="/images/eviden-sc.png" alt="eviden" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.yworks.com/" target="_blank"><img src="/images/yworks-logo.svg" alt="yworks" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.syss.de/" target="_blank"><img src="/images/syss_logo_RGB.png" alt="syss" width="90px"> </a></div></td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>
