<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src https://asciinema.org; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://www.teckids.org; frame-src 'self' https://www.openstreetmap.org https://asciinema.org; object-src 'self'; plugin-types application/pdf; form-action 'none'; base-uri 'self'">
  <!-- CSP documentation:
    - Embedded asciinema (multiple pages): Requires script+frame
    - Embedded OpenStreetMap (anfahrt.md): Requires img+frame (img via data:)
    - lageplan.md: Requires object (application/pdf)
    - kinder.md: Requires img
    - frame-ancestors 'self'; Might be nice to have but not allowed in <meta>
  -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tübix - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
