<footer class="site-footer">

    <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ .Site.Title }} 2025 - Samstag, 05. Juli 2025</li>
          <li><a href="mailto:{{ .Site.Params.author.email }}">{{ .Site.Params.author.email }}</a></li>
          <li>Chat (<a href="https://matrix.org/clients/">Matrix</a>): <a href="https://app.element.io/#/room/#tuebix:matrix.org">#tuebix:matrix.org</a></li>
          <li><a href="https://troet.cafe/@tuebix">Fediverse (Mastodon)</a></li>
          <li><a href="https://github.com/tuebix/tuebixorg">Repository (website source code)</a></li>
          <li><a href="{{ "impressum/" | relURL }}">Impressum/Kontakt</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="rtext">Der Tübix wird unterstützt von</p>
        <table>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.puzzle-itc.de" target="_blank"><img src="{{ "images/puzzle_classic_rgb.svg" | relURL }}" alt="puzzleitc" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.sodgeit.de" target="_blank"><img src="{{ "images/sodgeit.png" | relURL }}" alt="sodgeit" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.tuxedocomputers.com" target="_blank"><img src="{{ "images/tuxedo_computers.png" | relURL }}" alt="tuxedo" width="90px"> </a></div></td>
          </tr>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.hetzner.com/" target="_blank"><img src="{{ "images/hetzner-logo.jpg" | relURL }}" alt="hetzner" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.rheinwerk-verlag.de/" target="_blank"><img src="{{ "images/Logo_Rheinwerk-Computing_809x295px.png" | relURL }}" alt="rheinwerk" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://dpunkt.de/" target="_blank"><img src="{{ "images/dpunkg_logo.svg" | relURL }}" alt="dpunkt" width="90px"> </a></div></td>
          </tr>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://eviden.com/" target="_blank"><img src="{{ "images/eviden-sc.png" | relURL }}" alt="eviden" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://yfiles.com?utm_campaign=tuebix&utm_source=website&utm_medium=logo" target="_blank"><img src="{{ "images/yworks-logo.svg" | relURL }}" alt="yworks" width="90px"> </a></div></td>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://www.syss.de/" target="_blank"><img src="{{ "images/syss_logo_RGB.png" | relURL }}" alt="syss" width="90px"> </a></div></td>
          </tr>
          <tr>
            <td><div style='text-align:center; float:right; padding-top:2em;'><a href="https://itdesign.de/" target="_blank"><img src="{{ "images/itdesign-logo-light.svg" | relURL }}" alt="itdesign" width="90px"> </a></div></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>
