<footer class="site-footer">
  <p class="ctext">Der Tübix wird unterstützt von</p>
  <div class="wrapper">
        <div class="footer-images">
            <a href="https://www.puzzle-itc.de" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/puzzle_classic_rgb.svg" | relURL }}" alt="puzzleitc"> </a>
            <a href="https://www.sodgeit.de" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/sodgeit.png" | relURL }}" alt="sodgeit"> </a>
            <a href="https://www.tuxedocomputers.com" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/tuxedo_computers.png" | relURL }}" alt="tuxedo"> </a>
            <a href="https://www.hetzner.com/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/hetzner-logo.jpg" | relURL }}" alt="hetzner"> </a>
            <a href="https://netcare.de/en/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/netcare.svg" | relURL }}" alt="netcare"></a>
            <a href="https://daasi.de/de/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/daasi_logo.svg" | relURL }}" alt="daasi"></a>
            <a href="https://www.bull.com/en/solutions/consulting/product-engineering-it-consulting" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/sc-bull.svg" | relURL }}" alt="bull"> </a>
            <a href="https://yfiles.com?utm_campaign=tuebix&utm_source=website&utm_medium=logo" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/yworks-logo.svg" | relURL }}" alt="yworks"> </a>
            <a href="https://www.syss.de/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/syss_logo_RGB.png" | relURL }}" alt="syss"> </a>
            <a href="https://hitobito.com/de/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/logo_hitobito_tagline_rgb@4x.png" | relURL }}" alt="hitobito"> </a>
            <a href="https://www.rheinwerk-verlag.de/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/Logo_Rheinwerk-Computing_809x295px.png" | relURL }}" alt="rheinwerk"> </a>
            <a href="https://dpunkt.de/" target="_blank" class="footer-link"><img class="footer-image" src="{{ "images/dpunkg_logo.svg" | relURL }}" alt="dpunkt"> </a>

      </div>

      <div class="footer-contacts">
        <ul class="contact-list">
          <li>{{ .Site.Title }} 2026 - Samstag, 04. Juli 2026</li>
          <li><a href="mailto:{{ .Site.Params.author.email }}">{{ .Site.Params.author.email }}</a></li>
          <li>Chat (<a href="https://matrix.org/clients/">Matrix</a>): <a href="https://app.element.io/#/room/#tuebix:matrix.org">#tuebix:matrix.org</a></li>
          <li><a href="https://troet.cafe/@tuebix">Fediverse (Mastodon)</a></li>
          <li><a href="https://github.com/tuebix/tuebixorg">Repository (website source code)</a></li>
          <li><a href="{{ "impressum/" | relURL }}">Impressum/Kontakt</a></li>
        </ul>
      </div>

  </div>
</footer>
